body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    position: relative;
    background-color: #efefef;
}
.btn{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover{
  box-shadow: 8px 8px 8px #808080;
  transform:scale(1.1);
  background-color: #e4caa5;
}
.card{
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transition:.3s;
}

.card:hover{
    box-shadow: 8px 8px 8px #808080;
    transform:scale(1.1);
}


.card-text{
  font-size: 12px;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }

  
